In [1]:
# Comment
# Print
print("Python")

Python

In [59]:
# User input
name = input("Enter name: ")
print("Hello", name)

Enter name: nut
Hello nut

In [5]:
# Count the number of letter in a word
len("hello")

5

In [8]:
str("word")

'word'

In [11]:
int(3)

3

In [12]:
float(3)

3.0

In [14]:
# Lower
text = "AVOCADO"
text = str.lower(text)
print(text)

avocado

In [23]:
# Upper
text = "mango"
text = str.upper(text)
print(text)

MANGO

In [24]:
# Title
text = "mango"
text = str.title(text)
print(text)

Mango

In [25]:
# Capitalize
text = "mango"
text = str.capitalize(text)
print(text)

Mango

In [31]:
# Remove extra spaces
text = "mango yellow"
text = str.strip(text)
print(text)

mango yellow

In [44]:
# If else
user_input = int(input("Enter a number between 10 and 20: "))
if user_input >= 1 and user_input <= 10:
  print("Correct")
else:
  print("Incorrect")

Enter a number between 10 and 20: 10
Correct

In [21]:
# If elif else
user_input = int(input("Enter a number between 1 and 5: "))
if user_input > 5:
  print("input is more than 5")
elif user_input == 5:
  print("input is equal to 5")
else:
  print("input is less than 5")

Enter a number between 1 and 5: 1
input is less than 5

In [39]:
# For numbers
user_input = input("Enter a number between 1 and 3: ")
for i in range (1,3):
  print(i)

Enter a number between 1 and 3: 2
1
2

In [40]:
# For list
fruits = ["apple", "orange", "mango", "avocado"]
for x in fruits:
  print(x)

apple
orange
mango
avocado

In [48]:
# While
i = 1
while i < 5:
  print(i)
  i = i +1

1
2
3
4

In [68]:
# While
while True:
  user_input = int(input("Enter a number between 1 and 10: "))
  if user_input >= 1 and user_input <= 10:
    print("Correct")
    break
  else:
    print("Incorrect")

Enter a number between 1 and 10: 20
Incorrect
Enter a number between 1 and 10: 1
Correct

In [70]:
# List
fruits = ["apple", "orange", "mango", "avocado"]
print(fruits[1])

orange

In [77]:
# Tuple
fruits = ("apple", "orange", "mango", "avocado")
print(fruits[0])

apple

In [78]:
# Dictionary
fruits = {
    1:"apple",
    2:"orange",
    3:"mango",
    4:"avocado"
}

print(fruits[3])

mango

In [81]:
# Add
fruits = {
    1:"apple",
    2:"orange",
    3:"mango",
    4:"avocado"
}

fruits[5] = "durian"
print(fruits)

{1: 'apple', 2: 'orange', 3: 'mango', 4: 'avocado', 5: 'durian'}

In [88]:
# Insert
fruits = ["apple", "orange", "mango", "avocado"]
fruits.insert(4, "durian")
print(fruits)

['apple', 'orange', 'mango', 'avocado', 'durian']

In [90]:
# Remove
fruits = ["apple", "orange", "mango", "avocado"]
fruits.remove("mango")
print(fruits)

['apple', 'orange', 'avocado']

In [91]:
# Append
fruits = ["apple", "orange", "mango", "avocado"]
fruits.append("berries")
print(fruits)

['apple', 'orange', 'mango', 'avocado', 'berries']